<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Главная страница</h1>
    <ul>
        {% if not  request.user.is.authenticated %}
        <li>Войти</li>
        <li>Регистрация</li>
        
        {% else %}
        <li>Выйти</li>
        {% endif %}
    </ul>
    <!--          ul>li*3         / -->
</body>
</html>
