{% extends 'base_tabler.html' %}
{% load static %}

{% block content %}
<div class="col-md-10">
    <div class="card">
      
        <div id="carousel-controls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for baner in baners %}
              <div class="carousel-item active">
                <img class="d-block w-100" alt="" src="{{baner.image.url}}">
              </div>
            {% endfor %}
        </div>
          <a class="carousel-control-prev" href="#carousel-controls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-controls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    </div>
  </div>

{% endblock %}