{% extends 'base_tabler.html' %}

{% block content %}
<div class="row row-cards">
    {% for product in page_obj %}
        
      <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
          <a href="#" class="d-block">
            <img src="{{product.image.url}}" class="card-img-top">
          </a>
          <div class="card-body">
            <div class="d-flex align-items-center">
              
              <div>
                <div><h3>{{product.name}}</h3></div>
                <div class="text-muted">{{product.price}} сом</div>
              </div>
              <div class="ms-auto">
                <a href="#" class="text-muted">
                  <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                  467
                </a>
                <a href="#" class="ms-3 text-muted">
                  <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                  67
                </a>
                <a class="ms-3 text-muted">
                  <i class="ti ti-shopping-cart-plus" ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        
    {% endfor %}
    <div class="d-flex">
      <ul class="pagination ms-auto">
        {% if page_obj.has_previous %}
          <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">
              <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
              prev
            </a>
          </li>
        {% endif %}

        {% for i in page_obj.paginator.get_elided_page_range %} 
          {% if i == page_obj.paginator.ELLIPSIS %}
            <li class="page-item ">
              <a class="page-link" href="?page={{i}}">
            {{i}}
            </a>
          </li>
          {% else %}

            <li class="page-item {% if i == page_obj.number %} active {% endif %}">
              <a class="page-link" href="?page={{i}}">
                {{i}}
            </a>
          </li>
          {% endif %}


        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
          <a class="page-link" href="?page={{page_obj.next_page_number}}">
            next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}