{% extends 'base_tabler.html' %}

{% block page_title %}
    {{product.name}}
{% endblock %}

{% block content %}
    <img src="{{product.image.url}}" alt="" width="500">
    <h4>Цена: {{product.price}}сом</h4>
    <div class="col-6 col-sm-4 col-md-2 col-xl-auto mb-3">
        <a href="#" class="btn btn-bitbucket w-15">
          <!-- Download SVG icon from http://tabler-icons.io/i/brand-bitbucket -->
          <i class="ti ti-shopping-cart"></i>
          Добавить в корзину
        </a>
        <a href="https://github.com/sponsors/codecalm" class="btn" target="_blank" rel="noreferrer">
            <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
            Избранное
          </a>
      </div>

    <h5>Описание:</h5>
    <p>{{product.description}}</p>


{% endblock %}