{% extends 'base_tabler.html' %}

{% load static %}

{% block content %}

<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Корзина</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable table-striped">
          <thead>
            <tr>
              <th class="w-1">N. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 15 12 9 18 15" /></svg>
              </th>
              <th>Фото</th>
              <th>Название</th>
              <th>Цена(шт.)</th>
              <th>Количество</th>
              <th>Общая цена</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}

                <tr>
                <td><span class="text-muted">{{item.product.id}}</span></td>
                <td>
                    <img src="{{ item.product.image.url }}" alt="" width="50">
                </td>
                <td>
                    <a href="invoice.html" class="text-reset" tabindex="-1">
                        {{item.product.name}}
                    </a>
                </td>
                <td>
                    {{item.price}}
                </td>
                <td>
                  <button type="button" id="1" class="button-minus" data-id="{{item.product.id}}">
                    <i class="ti ti-minus"></i>
                  </button>
                    {{item.quantity}}
                    <button type="button" class="button-plus" data-id="{{item.product.id}}">
                      <i class="ti ti-plus"></i>
                    </button>
                </td>
                <td>{{item.total_price}}сом</td>
                <td>
                    <a href="{% url 'remove_cart' item.product.id %}" class="btn btn-danger active w-200">
                    Удалить
                    </a>
                    
                </td>
                </tr>

            {% empty %}
                <tr>
                    <td>
                        Ваша корзина пустая
                    </td>
                </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
      
      <div class="card-footer d-flex">
          <h5>Общая цена:{{cart.get_total_price}}</h5>
      </div>

      <div class="card-footer d-flex align-items-center">
       
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
            <a href="{% url 'clear_cart' %}" class="btn btn-light active w-40">
              Очистить корзину
            </a>
        </div>
        
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
            <a href="#" class="btn btn-primary active w-40" data-bs-toggle="modal" data-bs-target="#modal-report">
              Оформить заказ
            </a>
        </div>
      </div>

    </div>
  </div>

  

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Оформление заказа</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'order_create' %}" method="post">
          <div class="modal-body">
                  {% csrf_token %}
                  {{ form }}
          </div>
         
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Закрыть
            </a>
            <button type="submit" class="btn btn-primary">
              Подтвердить оформление
            </button>
          </div>
        </form>

        </div>
      </div>
    </div>
{% endblock %}



{% block javascript %}
  <script src="{% static 'dist/js/cart.js' %}">
  </script>
{% endblock %}